name = "FourierAnalysis"
uuid = "e7e9c730-dc46-11e9-3633-f1ab55cc17e1"
authors = ["Marco-Congedo <marco.congedo@gmail.com>"]
version = "1.2.3"

[deps]
AbstractFFTs = "621f4979-c628-5d54-868e-fcf4e3e8185c"
DSP = "717857b8-e6f2-59f4-9121-6e50c889abd2"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
PosDefManifold = "f45a3650-5c51-11e9-1e9a-133aa5e309cf"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"

[compat]
AbstractFFTs = "0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.2, 1.3"
DSP = "0.7"
FFTW = "1.3, 1.4,1.5, 1.6, 1.7"
PosDefManifold = "0.5"
RecipesBase = "1.1, 1.2, 1.3"
Statistics = "1"
julia = "1"
